#convas1 {
    border: solid 1px;
}

#convas2 {
    border: solid 1px;
}

#star1 {
    color: red;
}

#star2 {
    color: blue;
}

#star3 {
    color: green;
}

#star4 {
    color: yellow;
}

#star5 {
    color: black;
}